/* Burger Menu */
.burger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 24px;
  position: relative;
  margin-left: 20px;
  background: transparent;
  border: none;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: all !important;
}

.burger-menu div {
  width: 30px;
  height: 3px;
  background-color: #000000 !important;
  margin: 0;
  border-radius: 2px;
  transition: all 0.3s ease;
  display: block !important;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex !important;
  }

  .nav-container {
    position: relative;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: white;
    padding-top: 60px;
    transition: 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    z-index: 1999;
  }

  .nav-links.active {
    right: 0;
    display: flex;
  }

  .burger-menu.active div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .burger-menu.active div:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}